/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
} */


body{
    background-color: #000;
    text-align: justify;
}  

.logo{
    position: relative;
    left: 168px;
    top: 80px;
}

/* h1{ 
color: #355dd4;
position: relative;

} */

h2{
    color: #355dd4;  
}

h2 a{
    color: #355dd4;
}

#inicio{
    font-size: 40px;
    position: relative;
    bottom: 200px;
    left: 50px;
    text-align: left;
    
}

#carta{
    position: relative;
    top: 275px;
    right: 94px;
    font-size: 20px;   
    text-align: left;
}

ul{ 
    position: relative;
    text-align: justify;
    bottom: 80px;
    right: 125px;
    color: #1E90FF;
    font-size: 20px;
    
}

ul li a{
    color: #1E90FF;
}
/* ul li{
    position: relative;
}

#pb{
    position: relative;
    left: px;
    top: 30px;
}

#p{
    position: relative;
    left: px;
    top: px;
}

#l{
    position: relative;
    left: px;
    top: px;
} */

/* ul li a{
    position: relative;
    font-size: 2em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 4px rgba(red, green, blue, alpha);
}

ul li a::before{
    content: attr(data-text);
    position: absolute; 
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));

} */